<%- include layouts/header.ejs %>

        <div class="page-data">
         <div class="data-btn">
           <button onClick="addUser();">+ Add</button>
         </div>
	
         <div class="data-table">
            <table border="1" cellpadding="7" cellspacing="7">
                <tr>
                    <th width="50px">No</th>
                    <th>Name</th>
                   <th>Email</th>
                  
                    <th width="120px">Action</th>
                </tr>
                               
               
                
                              
                
            </table>
         </div>
        </div>
        
<%- include layouts/footer.ejs %>
