<%- include layouts/header.ejs %>

        <div class="page-data">
        
	
         <div class="data-table">
         	<img style="height: 111px;" src = "https://static.pexels.com/photos/19090/pexels-photo.jpg" /><br/><br/>
           <img style="cursor:pointer;" src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-medium.png" alt="Check out with PayPal" onClick=buyproduct(); />
         </div>
        </div>
        
<%- include layouts/footer.ejs %>
<img  />
